{% extends 'base.html' %}

{% block content %}
<div class="container-fluid stylish-form">
  <h2 class="text-center">Online Calendar</h2>
  <div class="row mar20" >
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="inner-section">

      <form method="post">
        <div class="mar20 inside-form">
          <h2 class="font_white text-center">Sign up</h2>
          {% csrf_token %}
          {% for field in form %}
            <p class="input-group">
               <div class="form-control" >
                  {{ field.label_tag }}<br>
                  {{ field }}
               </div>
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </p>
          {% endfor %}
              <div class="footer text-center">
              <button class="btn btn-neutral btn-round btn-lg" type="submit">Sign up</button>
              </div>
              <div class="d-flex justify-content-center links">
                already have account?<a href="/signin" class="ml-2">Sign In</a>
              </div>
          </div>
      </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}
