{% extends 'base.html' %}
{% load static %}
{% block title %} signin {% endblock %}

{% block content %}
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="{% static 'image/logo.png' %}" class="brand_logo" alt="Logo">
<!--                    <img src="https://cdn.freebiesupply.com/logos/large/2x/pinterest-circle-logo-png-transparent.png" class="brand_logo" alt="Logo">-->
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn login_btn" type="submit" value="Sign In">
                    </div>
                </form>
            </div>
            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Don't have an account? <a href="/signup" class="ml-2">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
